

.ver-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.text-center {
font-family: 'Lato', sans-serif;
    font-size: 60px;

}


.messages p {
    margin: 6px 0;
}

body, html {
	height : 300px;
	width: 500px;
  background-color: inherit;
}
